@{
    ViewData["Title"] = "Навчання з Патроном";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <style>
        .button {
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

       
        .button2 {
            background-color: #0000CD;
            color: yellow;
            position: absolute;
            top: 45%;
            left: 50%;
            width: 25%;
            height: 15%;
            border-radius: 35px;
            font-size: 200%;
            font-style: Bradley Hand;
            text-align: center;
            /*font-weight: 600;*/
            z-index: 1
        }

            .button2:hover {
                background-color: #008CBA;
                color: yellow;
                position: absolute;
                top: 45%;
                left: 50%;
                width: 25%;
                height: 15%;
                border-radius: 35px;
                font-size: 200%;
                font-style: Bradley Hand;
                text-align: center;
               /* font-weight: 600;*/
               z-index: 1
            }

    </style>
</head>
<body style="background-color:#181735">
    <div class="text-center">
        <h1 class="display-4" style="color: white;"><strong>Навчання з Патроном</strong></h1>
        <h4 style="color: yellow; "> Грайся та розвивайся! </h4>

        <img src="~/Images/patron1.png" alt="Зображення Патрона" style="position: absolute; bottom: 10; left: 0; margin: 0; height: 60vh;  width:43.4vw;" />
       
       <!-- <button class="button button2">Почати гру</button>-->
        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu">Почати гру</a>
      

    </div>

  <!--  <div class="stack-panel">-->

        <div class="border" style="width: 35vw; height: 5vh; transform: rotate(45deg); background-color: #39385d; margin-left: 50%; margin-top: 15%;border-radius: 20px;"></div>
    <div class="border" style="width: 35vw; height: 5vh; transform: rotate(45deg); background-color: #1E90FF; margin-top: 15px; margin-left: 41%; border-radius: 20px;"></div>

        <div class="border" style="width: 35vw; height: 5vh; transform: rotate(45deg); background-color: yellow; margin-top: -5px; margin-left: 50%; border-radius: 20px;"></div>
 <!--   </div>-->
    </body>


</html>


