@{
    ViewData["Title"] = "Навчання з Патроном";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<body style="background-color:#181735">
    <div class="text-center">
        <h1 class="display-4" style="color: white;"><strong>Навчання з Патроном</strong></h1>
        <h4 style="color: yellow; "> Грайся та розвивайся! </h4>

        <img src="../../Images/patron1.jpg" alt="Зображення Патрона" style="margin: 0 auto; width:auto;" />
    </div>
</body>
</html>


