@{
    ViewData["Title"] = "Про розробника";
}
<h1>@ViewData["Title"]</h1>

<p>
    Проєкт створений для предмету Програмна інженерія.<br>
    Над ним працювали студенти групи ПМО-31: <br>
    Кравець Ольга <br>
    Кравець Назар <br>
    Плетеня Олена <br>
    Папіж Вікторія <br>
    Львівський національний університет імені Івана Франка <br>
    2023 рік <br>
</p>


