@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Навчання з Патроном";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <style>
        .button {
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }


        .button2 {
            background-color: #0000CD;
            color: yellow;
            position: absolute;
            top: 45%;
            left: 50%;
            width: 5%;
            height: 10%;
            border-radius: 5px;
            font-size: 200%;
            font-weight: 600;
            font-style: Verdana;
            text-align: center;
            /*font-weight: 600;*/
            z-index: 1
        }

            .button2:hover {
                background-color: #008CBA;
                color: yellow;
                position: absolute;
                top: 45%;
                left: 50%;
                width: 5%;
                height: 10%;
                border-radius: 5px;
                font-size: 200%;
                font-weight: 600 font-style: Verdana;
                text-align: center;
                /* font-weight: 600;*/
                z-index: 1
            }

    </style>
</head>
<body style="background-color:#181735">
    <div class="text-center">
      <!--  <h1 class="display-4" style="color: white;"><strong>Гра "Сапер"</strong></h1>-->
       

        <img src="~/Images/sticker3.png" alt="Зображення Патрона" style="position: absolute; bottom: 10%; left: 5%; margin: 0; height: 61.1vh;  width:19.8vw;" />
        <label for="example2" style="color: red; font-size: 45px; top: 50%; left:10%;" >♥</label><!--треба змінити розташування-->
        
        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="left: 40%; top: 30%;">1</a>
        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="left: 50%; top: 30%;">2</a>
        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="left: 60%; top: 30%;">3</a>

        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="left: 40%; top: 45%;">4</a>
        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="left: 50%; top: 45%;">5</a>
        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="left: 60%; top: 45%;">6</a>

        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="left: 40%; top: 60%;">7</a>
        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="left: 50%; top: 60%;">8</a>
        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="left: 60%; top: 60%;">9</a>

        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="left: 50%; top: 75%;">0</a>

        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="top: 60%; left: 70%; width: 25%; background-color:yellow; color: #008CBA;">Почати</a>
        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="top: 75%; left: 70%; width: 25%; background-color:yellow; color: #008CBA;">Перевірити</a>
        <a class="button button2" asp-area="" asp-controller="Home" asp-action="Menu" style="top: 20%; left: 70%; width: 15%; background-color:#008CBA; color: #1E90FF;">Очистити</a>

        <label for="example" style="color: yellow; font-size: 45px;">1 + 2 =</label>

        <input type="text" id="myInput" name="example" value="" style="color: #008CBA; width: 250px; height: 50px; top: 20%;"><br><br>
        <!-- <input type="text" id="myInput" name="myInput" value="">-->
       
    </div>

</body>

</html>